<h1>PlantLife</h1>

<ul>
    <% @gardens.each do |garden| %>
      <li>
        <%= garden.name %>
      </li>
    <% end %>
  </li>
</ul>
<h2>Notifications</h2>
<% @my_plants.each do |p| %>
  <% if p.last_watered %>
      <p>
        <%= p.nickname %>. last watered: <%= p.last_watered %>
      </p>
  <% end %>
<% end %>
