<h1>PlantLife</h1>

<ul>
  <li>
    <% @gardens.each do |garden| %>
      <%= garden.name %>
    <% end %>
  </li>
</ul>

<%= cl_image_tag("san_francisco",
      width: 400, height: 300, crop: :fill) %>
