
<%# button for adding a new garden (missing link) %>
<div class="d-flex justify-content-around">
  <h2 class=""> Add a new garden</h2>
  <button class="green-button">+</button>
</div>

<ul>
  <li>
    <% @gardens.each do |garden| %>
      <%= garden.name %>
    <% end %>
  </li>
</ul>
