<div class="background-image d-flex flex-column align-items-center justify-content-center">

  <div class="landing-text">
    <i class="fas fa-seedling"></i>
    <h1 class="fw-bold">PlantLife</h1>
    <p>Change your life, learn to plant</p>
  </div>

  <div class="text-center open-button">
    <%= link_to root_path do %>
      <h3>Open</h3>
    <% end %>
  </div>
</div>
