.home-garden-card {
  text-align: center;
  box-shadow: 2px 2px 4px 0px lightgray;
  font-size: 12px;
  border-radius: 8px;
  margin-top: 1em;
}

.home-garden-image {
  width: 40%;
  border-radius: 8px;
  margin-right: 1em;
  object-fit: cover;
}

.home-garden-card h2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.home-garden-label {
  font-style: italic;
  text-align: start;
}
