.home-garden-card {
  text-align: center;
  // box-shadow: 2px 2px 4px 0px lightgray;
  font-size: 12px;
  border-radius:  0px 0px 8px 8px;
  border-top: 1px solid $primary;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $final-green;
}

.home-garden img {
  width: 80px;
  height: 90px;
  border-radius: 8px 8px 8px 8px;
  object-position: top;
}

.home-garden-card h2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.home-garden-label {
  font-style: italic;
  text-align: start;
}
