.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-plantlife {

  justify-content: space-between;
  background: white;
  box-shadow: 2px -2px 6px lightgrey;
}

// .navbar-plantlife::before {
//   height: 60px;
//   content: "";
// }
