.navbar {
  justify-content: space-between;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-plantlife {
  background: #d5dfc5;
  // box-shadow: 2px -2px 4px $primary;
}


.fas {
  font-size: 1.8em;
  color: $plant-green;
}
