.notification-card {
  display: flex;
  // box-shadow: 2px 2px 4px 0px lightgray;
  font-size: 12px;
  border-radius: 0px 8px 0px 8px;
  margin-top: 1em;
  align-items: center;
  justify-content: space-between;
  line-height: 4px;
  // background-color: $final-green;
  border: 1px $final-green solid;
}

.notification-container {
  // justify-content: space-around;
  // display: flex;
  // box-shadow: 2px 2px 4px 0px lightgray;
  border-radius: 8px;
  margin-top: 1em;
  padding-bottom: 1em;
  // background-color: $final-green;
}

.plant-avatar img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0px 16px;
}

.overdue {
  color: rgb(185, 2, 2);
}

.today {
  color: rgb(82, 82, 230);
}
