.to-do {
  background-color: rgb(255, 144, 47);
  padding: 4px 16px;
  border-radius: 16px;
  color: white;
}

.water {
  background-color: lightblue;
}

.water-info{
  margin-top: auto;
  background-color: rgb(171, 171, 171);
  padding: 2px 8px;
  border-radius: 16px;
  color: white;
  width: 120px;
  text-align: center;
}
